* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

body, a {
    background: linear-gradient(-45deg, #ede0dd, #e9c7d4, #c1dee8, #c8f4e9);
	background-size: 200% 200%;
	animation: gradient 15s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

header {
    background-color: #00030477;
    width: 100%;
    padding: 1em;
    justify-content: space-between;
    border: 2px double #ea9cb8;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

img {
    margin: 0.5em;
    width: 180px;
    height: 180px;
    border-radius: 180px;
    border: 2px solid #343434;
}

ul {
    margin-top: 2em;
    width: 100%;
    max-width: 400px;
    padding: 0;
}

li {
    width: 90%;
    margin: 0.5em 0;
    list-style: none;
    background-color: #343434;
    border-radius: 8px;
    padding: 1.5em;
    text-align: center;
    border: 2px double transparent;
}

li:hover, li:focus {
    border: 2px double #ea9cb8;
}

a {
    font-size: 1.5rem;    
    text-decoration: none;
    font-weight: bold;
}

.insta-tag {
    background: linear-gradient(-45deg, #98f1db, #e7ab9e, #ea9cb8, #ea9cb8, #8fcfe4, #98f1db);
    background-size: 200% 200%;
	animation: gradient 15s ease infinite;
    /* animation: none; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a:hover, a:focus, a:active {
    -webkit-text-fill-color: rgba(249, 247, 247, 0.6);
}

.enlace {
    text-align: center;
    /* padding: 1em; */
}
