* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rosybrown;
}

img {
    margin: 3em;
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

ul {
    width: 100%;
    max-width: 400px;
}

li {
    margin: 0.5em;
    list-style: none;
    border: 1px solid hotpink;
    background-color: aliceblue;
    padding: .5em;
    text-align: center;;
}

a {
    text-decoration: none;
    color: hotpink;
}